[Service]
User=elastic
Group=elastic
LimitNOFILE=65536
LimitNPROC=4096
ExecStart=/opt/elasticsearch/bin/elasticsearch
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
